@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.nav_bar{
 margin: 0px;
 height: 120px;

 padding: 2px;
 background-color: #4472C4;
 color: white;


 
}
.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.Text_name{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 24px;
font-family: 'Roboto Condensed', sans-serif;
}
.App-logone{
height: 90px;
width: 90px;
box-shadow: 0.2px 0.2px 10px black;
}
.Text_name_one{
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
     margin-right: 20px;
    margin-left: 20px;
}